<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Daily Reports</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<style>
    span.b {
        width: 100px;
        height: 20px;
        display: inline-block;
        padding: 5px;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:href="@{/}">
        <img src="../static/images/LOGO-NEW.png" th:src="@{/images/LOGO-NEW.png}" width="200" height="120" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <a class="nav-item nav-link active" href="#" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" th:href="@{/transit}">Add New Transit</a>
            <a class="nav-item nav-link" href="#" th:href="@{/transits}">Show All Transits</a>
            <a class="nav-item nav-link" href="#" th:href="@{/reports/daily}">Daily Report</a>
            <a class="nav-item nav-link" href="#" th:href="@{/reports/monthly}">Monthly Report</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle disabled" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/api/transits/downloadPDF}">Export transits to PDF</a>
                    <a class="dropdown-item" th:href="@{/api/transits/download}">Export transits to XML (EXCEL)</a>
                </div>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <a href="#" class="nav-link"><i class="fab fa-facebook"></i></a>
            <li>
                <a href="#" class="nav-link"><i class="fab fa-linkedin-in"></i></a>
            <li>
                <a href="#" class="nav-link"><i class="fab fa-github"></i></i></a>
            </li>
        </ul>
    </div>
</nav>
<form method="post" th:action="@{/addDailyReport}" th:object="${dailyReport}">

    <fieldset>
        <legend>Define period for the raport</legend>
    <div>
        <span class="b"><label>Insert start date</label></span>
        <span class="b"><input type="date" th:field="*{startDate}"/></span>
    </div>
        <div>
            <span class="b"><label>Insert end date</label></span>
            <span class="b"><input type="date" th:field="*{endDate}" /></span>
        </div>

    </fieldset>
<input type="submit" value="Get the daily report" />
</form>
</body>
</html>