<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Main page of transit app</title>
</head>
<body>
<h1>Welcome to the transit application</h1>
<a href="#" th:href="@{/transit}">Add new transit</a>
<a href="#" th:href="@{/transits}">Show all transit from database</a>
<a href="#" th:href="@{/transits}">Show daily report</a>
<a href="#" th:href="@{/reports/monthly}">Show monthly report</a>

<!--<h1 th:text="${message}">Sample text</h1>-->
</body>
</html>