<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body class ="bg-dark">
<div class="container py-5">
    <div class="row">
        <div class="col-md-12 col-md-offset-3">
            <h2 class="text-center text-white mb-4">Login</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class ="card rounder-1">
                        <div class="card-body">
                            Login via
                            <div class="social-buttons">
                                <a href="#" th:href="@{/auth/facebook}" class="btn btn-fb"><i class="fab fa-facebook"></i> Facebook</a>
                                <a href="#" th:href="@{/auth/google}" class="btn btn-tw"><i class="fab fa-google"></i> Google</a>
                                <a href="#" th:href="@{/auth/twitter}" class="btn btn-tw"><i class="fab fa-twitter"></i> Google</a>
                                <a href="#" th:href="@{/auth/linkedin}" class="btn btn-tw"><i class="fab fa-linkedin"></i> Google</a>
                            </div>
                            <div class="col-sm-15 text-center">
                                <div style="padding-top:15px;">


                                    <div th:if="${#request.getParameter('error') == 'true'}"
                                         style="color:red;margin:10px 0px;">
                                        Login Failed!!!<br />
                                        Reason :
                                        <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                                              th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
<!--                                    <div th:if="${param.message != null}" class="alert alert-info" th:text="${param.message[0]}">message</div>-->


<!--                                    <div th:if="${param.error != null}" class="alert alert-danger" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>-->
<!--                                    <div th:if="${param.error}">-->
<!--                                        <div class="alert alert-danger">-->
<!--                                            Invalid username or password, if you already registred you can try to resend validation token <a href="/resendToken" th:href="@{/resendToken}">here</a>-->
<!--                                        </div>-->
                                    </div>
                                    <div th:if="${param.logout}">
                                        <div class="alert alert-info">
                                            You have been logged out.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <!--<form th:action="@{/j_spring_security_check}" class="form" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST">-->
                                <form class="form" th:action="@{/j_spring_security_check}" th:object="${loginForm}" method="POST">

                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                                        <label>Username</label>
                                        <div class ="input-group">
                                            <input id="userName"
                                                   class="form-control"
                                                   placeholder="User Name"
                                                   th:field="*{username}"/>
                                        </div>
                                        <p class="error-message"
                                           th:each="error: ${#fields.errors('username')}"
                                           th:text="${error}">Validation error</p>
                                    </div>


                                    <div class="form-group"
                                         th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                        <label>Password</label>
                                        <div class ="input-group">
                                            <input id="password"
                                                   class="form-control"
                                                   placeholder="password"
                                                   type="password"
                                                   th:field="*{password}"/>
                                        </div>
                                        <p class="error-message"
                                           th:each="error: ${#fields.errors('password')}"
                                           th:text="${error}">Validation error</p>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="rememberMe">
                                        <label class="custom-control-label" for="rememberMe">Remember me on this computer</label>
                                        <div class="form-group py-4">
                                            <button type="submit" th:action="@{/indexLog}" class="btn btn-outline-success">Login</button>
                                            <a  href="#" th:href="@{/}" class="btn btn-outline-secondary" role="button">Return</a>
                                            <input type="submit"
                                                   name="login-submit"
                                                   id="login-submit"
                                                   class="form-control btn btn-info"
                                                   value="Log In"/>
                                        </div>
                                    </div>


                                </form>

                                <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
                                <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>