<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Added Transit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<style>
    span.b {
        width: 140px;
        height: 20px;
        display: inline-block;
        padding: 5px;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:href="@{/}">
        <img src="../static/images/LOGO-NEW.png" th:src="@{/images/LOGO-NEW.png}" width="200" height="120" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <a class="nav-item nav-link active" href="#" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" th:href="@{/transit}">Add New Transit</a>
            <a class="nav-item nav-link" href="#" th:href="@{/transits}">Show All Transits</a>
            <a class="nav-item nav-link" href="#" th:href="@{/reports/daily}">Daily Report</a>
            <a class="nav-item nav-link" href="#" th:href="@{/reports/monthly}">Monthly Report</a>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <a href="#" class="nav-link"><i class="fab fa-facebook"></i></a>
            <li>
                <a href="#" class="nav-link"><i class="fab fa-linkedin-in"></i></a>
            <li>
                <a href="#" class="nav-link"><i class="fab fa-github"></i></i></a>
            </li>
        </ul>
    </div>
</nav>
<!--Added transit:-->

<!--<h1 th:text="${transit.distance}">Distance</h1>-->
<!--<h1 th:text="${transit.sourceAdress}">Source Adress</h1>-->
<!--<h1 th:text="${transit.destinationAdress}">Destination Adress</h1>-->
<!--<h1 th:text="${transit.date}">Date</h1>-->
<!--<h1 th:text="${transit.price}">Price</h1>-->
<!--<a href="#" th:href="@{/}">Go to homepage</a>-->
<form method="get" th:object="${transit}">
<fieldset disabled>
    <legend>Added transit</legend>
    <div>
        <span class="b"> <label>Source adress:</label></span>
        <b><span class="b" th:text="*{sourceAdress}"/></span></b>
    </div>
    <div>
        <span class="b"><label>Destination adress:</label></span>
        <b><span class="b" th:text="*{destinationAdress}"/></span></b>
    </div>
    <div>
        <span class="b"><label>Price:</label></span>
        <b><span class="b" th:text="*{price}"/></span></b>
    </div>
    <div>
        <span class="b"> <label>Date:</label></span>
        <b><span class="b" th:text="*{date}"/></span></b>
    </div>
    <div>
        <span class="b"><label>Distance:</label></span>
        <b><span class="b" th:text="*{distance}"/></span></b>
    </div>
</fieldset>
    <a th:href="@{/transit}">Add another transit</a>
    <a th:href="@{/}">Return to homepage</a>



</body>
</html>