<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Monthly Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<style>
    span.b {
        width: 140px;
        height: 20px;
        display: inline-block;
        padding: 5px;
    }
</style>
<body>
<!--Transit Reports from Current month :-->

<!--<h1 th:text="${MonthlyReport.date}">Distance</h1>-->
<!--<h1 th:text="${MonthlyReport.totalDistance}">Source Adress</h1>-->
<!--<h1 th:text="${MonthlyReport.averageDistance}">Destination Adress</h1>-->
<!--<h1 th:text="${MonthlyReport.averagePrice}">Date</h1>-->
<!--<a href="#" th:href="@{/}">Go to homepage</a>-->



<!--<form method="get" th:action="@{/reports/monthly}" th:object="${monthlyReport}">-->
    <!--<input type="text" th:field="*{totalDistance}" />-->
    <!--<input type="text" th:field="*{averageDistance}" />-->
    <!--<input type="text" th:field="*{averagePrice}" />-->
    <!--&lt;!&ndash;<input type="text" th:field="*{date}" />&ndash;&gt;-->
<!--</form>-->


<!--<ul>-->
    <!--<li th:each="monthlyReport: ${reports}" th:text="|${monthlyReport.totalDistance} - ${monthlyReport.averagePrice}|"> Transits</li>-->
    <!--<ul/>-->

    <!--<h2>Monthly report table</h2>-->
    <!--<table border="1">-->
        <!--<tr>-->
            <!--<th>Date</th>-->
            <!--<th>Total Distance</th>-->
            <!--<th>Average Price</th>-->
            <!--<th>Average Distance</th>-->
        <!--</tr>-->

        <!--<tr th:each="monthlyReport: ${reports}" th:object="${monthlyReport}">-->
            <!--<td th:text="*{date}">Date</td>-->
            <!--<td th:text="*{averagePrice}">Average Price</td>-->
            <!--<td th:text="*{averageDistance}">Average Price</td>-->
            <!--<td th:text="*{totalDistance}">Total Distance</td>-->

        <!--</tr>-->

    <!--</table>-->


    <h1>Transits from each day of the month (if the date doesnt occur in the list it means, there was no transits that day:</h1>
    <form method="get" th:each="monthlyReport: ${reports}" th:object="${monthlyReport}">
        <fieldset>
            <legend th:text="*{date}"></legend>
            <!--<div>-->
                <!--<span class="b"> <label>Date</label></span>-->
                <!--<span class="b" th:text="*{date}"/></h1></span>-->
            <!--</div>-->
            <!--<div>-->
                <span class="b"><label>Average price</label></span>
                <span class="b" th:text="*{averagePrice}"/></span>
            </div>
            <div>
                <span class="b"><label>Average distance</label></span>
                <span class="b" th:text="*{averageDistance}"/></span>
            </div>
            <div>
                <span class="b"> <label>Total distance</label></span>
                <span class="b" th:text="*{totalDistance}"/></span>
            </div>
        </fieldset>
    </form>

    <a th:href="@{/}">Return to homepage</a>
</body>
</html>

<!--<ul>-->
<!--<li th:each="monthlyReport: ${reports}">-->
<!--<h1 th:text="|Total distance: ${monthlyReport.totalDistance}|">Total distance</h1>-->
<!--<h1 th:text="|Total averagePrice: ${monthlyReport.averagePrice}|">Total distance</h1>-->
<!--&lt;!&ndash;th:text="|${monthlyReport.averagePrice}|"> &ndash;&gt;-->


<!--Transits</li>-->
<!--</ul>-->