<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Transit Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<style>
    h1 {
        text-align: center;
    }

    table {
        border-collapse: collapse;
        width: 50%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {background-color:#f5f5f5;}
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" th:href="@{/indexLog}">
        <img src="../static/images/LOGO-NEW.png" th:src="@{/images/LOGO-NEW.png}" width="150" height="80" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <a class="nav-item nav-link active" href="#" th:href="@{/indexLog}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#" th:href="@{/transit}">Add New Transit</a>
            <a class="nav-item nav-link" href="#" th:href="@{/transits}">Show All Transits</a>
            <a class="nav-item nav-link" href="#" th:href="@{/reports/daily}">Daily Report</a>
            <a class="nav-item nav-link" href="#" th:href="@{/reports/monthly}">Monthly Report</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/api/transits/downloadPDF}">Export transits to PDF</a>
                    <a class="dropdown-item" th:href="@{/api/transits/download}">Export transits to XML (EXCEL)</a>
                </div>
        </ul>
<!--        <ul class="nav navbar-nav ml-auto">-->
<!--            <a href="#" class="nav-link"><i class="fab fa-facebook"></i></a>-->
<!--            <li>-->
<!--                <a href="#" class="nav-link"><i class="fab fa-linkedin-in"></i></a>-->
<!--            <li>-->
<!--                <a href="#" class="nav-link"><i class="fab fa-github"></i></i></a>-->
<!--            </li>-->
<!--        </ul>-->

        <ul class="nav navbar-nav navbar-right ml-auto">
            <!--<ul class="nav navbar-nav flex-row justify-content-between ml-auto">-->
            <li class="dropdown order-1">
                <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle"><span th:text="${#request.userPrincipal.name}"> <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right mt-2">
                    <li class="px-3 py-2">
                        <div class="form-group">
                            <a  href="#" th:href="@{/}" class="btn btn-primary btn-block" role="button"> Logout</a>
                            <!--                            <a  href="#" th:href="@{/}" class="btn btn-outline-secondary" role="button">Logout</a>-->
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<h1>Transit list</h1>

<table align="center">
    <tr>
        <th>Source Adress</th>
        <th>Destination Adress</th>
        <th>Price</th>
        <th>Date</th>
        <th>Distance</th>
    </tr>

    <tr th:each="transit: ${transits}" th:object="${transit}">
        <td th:text="*{sourceAdress}">price</td>
        <td th:text="*{destinationAdress}">distance</td>
        <td th:text="*{price}">distance</td>
        <td th:text="*{date}">distance</td>
        <td th:text="*{distance}">distance</td>
    </tr>

</table>

<!--<ul>-->
    <!--<li th:each="transit: ${transits}" th:text="|${transit.distance} - ${transit.price}|"> Transits</li>-->
<!--</ul>-->

</div>
</div>
</body>
</html>
